@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.main-component-info {
    margin: 15px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 14pt;
}